/* Efek Muncul Saat Scroll */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Memperhalus Scroll Bar (Khusus Chrome/Edge) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--bg-deep);
}
::-webkit-scrollbar-thumb {
    background: var(--purple-main);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-pink);
}
